@import "../../mediaQueries.scss";

.navbar {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: #2874f0;
  &-container {
    position: relative;
    width: 100%;
    display: flex;
    justify-content: space-around;
    align-items: center;
    @include responsive(tab) {
      padding: 10px 20px;
      justify-content: center;
      flex-direction: column;
    }
    &-mobile {
      display: none;
      @include responsive(tab) {
        display: block;
        width: 100%;
        margin-top: 10px;
        background-color: white;
        &-searchbar {
            display: flex;
            gap: 1.1rem;
            align-items: center;
            &-input {
              width: 100%;
              padding: 9px 20px;
              border-radius: 2px;
              border: none;
              outline: none;
              font-size: 15px;
            }
        
            &-icon {
              color: #2874f0;
              font-size: 17px;
              padding-right: 15px;
              cursor: pointer;
            }
          }
      }
    }
    &-left {
      display: flex;
      align-items: center;
      gap: 1.1rem;
      width: 60%;
      @include responsive(tab) {
        width: 100%;
      }
      &-logo {
        @include responsive(tab){
          width: 100%;
          text-align: center;
        }
        &-text {
          color: white;
          font-style: italic;
          font-weight: 600;
          font-size: 25px;
          font-family: sans-serif;
          margin: 0;
          cursor: pointer;
          margin-bottom: 2px;
          text-decoration: none;
        }
      }
      &-searchbar {
        background-color: white;
        @include responsive(tab) {
          display: none;
        }
        &-box {
          display: flex;
          gap: 1.1rem;
          align-items: center;
          &-input {
            width: 450px;
            padding: 9px 20px;
            border-radius: 2px;
            border: none;
            outline: none;
            font-size: 15px;
          }
          &-icon {
            color: #2874f0;
            font-size: 17px;
            padding-right: 15px;
            cursor: pointer;
          }
        }
      }
    }
    &-right {
      display: flex;
      align-items: center;
      gap: 2.5rem;
      width: 10%;
      @include responsive(tab) {
        display: none;
      }
      &-products {
        color: white;
        font-weight: 600;
        font-size: 16px;
        cursor: pointer;
      }
      &-cart {
        display: flex;
        align-items: center;
        text-decoration: none;
        &-text {
          color: white;
          font-weight: 600;
          font-size: 16px;
          padding-left: 8px;
        }
        &-icon {
          color: white;
        }
      }
    }
  }
}
